@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');
@import "tailwindcss";

body {
  font-family: "Nunito", sans-serif;
}

html, body {
  height: 100%;
}

@theme {
  --color-primary: oklch(97.5% 0.06 24.5); /* 主色 淺乾燥玫瑰色 */
  --color-primary-hovered: oklch(65% 0 24.5); /* 無彩色 */
  --color-on-primary: oklch(81% 0.1 25); /* 乾燥玫瑰色 按鈕預設色 */
  --color-on-primary-hovered: oklch(30% 0 20); /* 按鈕hover色 */

  --color-secondary: oklch(98.67% 0.1 86.29); /* 嫩鵝黃色 */
  --color-secondary-hovered: oklch(94.67% 0.1 86.29); /* secondary的第一個參數扣掉若干 percents */
  --color-on-secondary:  gray;

  --color-highlight: oklch(80% 0.15 280); /* 淺紫色 */

  --color-close: oklch(56% 0.02 18); /* 摻雜紅色的灰色 */
  --color-close-hovered: oklch(65% 0.25 25); /* 標準紅色 */

  --font-primary: "Nunito", sans-serif;
}

/* 本專案基本按鈕的定義在這裡 */
@layer utilities {
  button, .btn-close, .btn-cancel {
    border-radius: 0.5rem;
    padding: 0.5rem;
  }

  button {
    cursor: pointer;
    background-color: var(--color-secondary);
    color: var(--color-on-secondary);
  }
  button:hover, button:active {
    background-color: var(--color-secondary-hovered);
  }
  button.btn-header, a.btn-header {
    display: flex;
    height: 100%;
    background-color: inherit; /* 使用inherit是因為要套用整體header的配色 */
    color: oklch(30% 0 20);
    align-items: center;
    justify-items: center;

    border-radius: 0;
    padding: 0.475rem;
  }
  button.btn-header:hover, .btn-header:hover,
  button.btn-header:active, .btn-header:active
  {
    background-color: var(--color-primary-hovered); /* 使用inherit是因為要套用整體header的配色 */
    color: var(--color-on-primary-hovered);
  }
  .btn-cancel {
    background-color: white;
    color: gray;
    box-sizing: border-box;
    border: 0.5px solid gray;
  }
  .btn-cancel:hover, .btn-cancel:active {
    background-color: gray;
    color: lightgray;
    border: none;
  }
  .btn-close {
    aspect-ratio: 1/1;
    width: 2.5rem;
  }
  .btn-calendar {
    padding-top: 2px;
    padding-bottom: 2px;
  }
  @media (max-width: 500px) {
    .btn-calendar{
      font-size: 0.55rem;
    }
  }
}

@layer base {
  body {
    font-family: var(--font-primary);
  }
}